.main{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;  
    
    margin: 20px; 

}
.Hours{
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: auto;
}
.heading{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 3%;
    font-size: 1.3rem;
    font-weight: 600;
}
.prev{
    position: absolute;
    top: 135px;
    left: -9px; 
    z-index: 10;
}
.next{
    position: absolute;
    top: 135px;
    right: -9px;
    z-index: 10;
}

