.footer{
    padding: 2% 0 1%;
    text-align: center;
    
  }

.footer-logo{
    padding: 2%;
    color: rgb(162, 162, 246);
    
  }

.footer-copy{
    font-size: 1.2rem;
    padding-top: 15px;
    color:rgb(162, 162, 246) ;
}